<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ax</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" type="image/png">

  <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/codemirror-5.28.0/codemirror.css">
  <link rel="stylesheet" href="/vendor/codemirror-5.28.0/theme/neo.css">
  <link rel="stylesheet" href="/vendor/simplemde-1.11.2/simplemde.min.css">
  <link rel="stylesheet" href="/vendor/quilljs-1.3.6/quill.snow.css">
  <link rel="stylesheet" href="/vendor/text-security-0.0.0/dist/text-security.css">

  <script src="/vendor/codemirror-5.28.0/codemirror.min.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/shell/shell.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/javascript/javascript.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/ruby/ruby.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/xml/xml.js"></script>
  <script src="/vendor/simplemde-1.11.2/simplemde.min.js"></script>
  <script src="/vendor/quilljs-1.3.6/quill.js"></script>
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify.js"></script> -->
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify-css.js"></script> -->
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify-html.js"></script> -->
  <script src="/vendor/marked-0.3.6.min.js"></script>
  <!-- <script src="/vendor/sketchjs-0.0.0.js"></script> -->
  <!-- <script src="/vendor/chartjs-2.7.2.bundle.min.js"></script> -->


  <!-- <script src="/vendor/jquery-3.3.1.slim.min.js"></script> -->


  <!-- <script src="https://component.kitchen/polyfill/webcomponents-bundle.js"></script> -->
  <!-- <script type="module" src="https://component.kitchen/modules/AutosizeTextarea.js"></script> -->

  <script type="application/javascript" src="/assets/axfunction/axf.js" ></script>
  <script type="application/javascript" src="/assets/axfunction/axf-plugins.js" ></script>
  <!-- <script type="application/javascript" src="/assets/axf/themes/basic.js" ></script> -->
  <script type="application/javascript" src="/assets/client.js" ></script>

  <style>
  /*body { font-size: 2em; background-color: teal; color: white; font-family: arial; text-align: center; }*/
  </style>
</head>
<body>

<div id="here"></div>


<script>

ax( App )

// ax( (a,x) => [ "Hello", "world", a.hr, a['ax-appkit-component'], a.div("fdgfdgfd"), a.button("OK") ], { id: "here", $tag: "div" } )

</script>

</body>
</html>
