<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ax</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" type="image/png">

  <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/codemirror-5.28.0/codemirror.css">
  <link rel="stylesheet" href="/vendor/codemirror-5.28.0/theme/neo.css">
  <link rel="stylesheet" href="/vendor/simplemde-1.11.2/simplemde.min.css">
  <link rel="stylesheet" href="/vendor/quilljs-1.3.6/quill.snow.css">
  <link rel="stylesheet" href="/vendor/text-security-0.0.0/dist/text-security.css">

  <link rel="stylesheet" href="/vendor/bootstrap-4.1.0-dist/css/bootstrap.min.css">

  <script src="/vendor/codemirror-5.28.0/codemirror.min.js"></script>
  <script src="/vendor/codemirror-5.28.0/addons/display/placeholder.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/shell/shell.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/javascript/javascript.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/ruby/ruby.js"></script>
  <script src="/vendor/codemirror-5.28.0/mode/xml/xml.js"></script>
  <script src="/vendor/simplemde-1.11.2/simplemde.min.js"></script>
  <script src="/vendor/quilljs-1.3.6/quill.js"></script>
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify.js"></script> -->
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify-css.js"></script> -->
  <!-- <script src="/vendor/js-beautify-1.7.5/beautify-html.js"></script> -->
  <script src="/vendor/marked-0.3.6.min.js"></script>
  <!-- <script src="/vendor/sketchjs-0.0.0.js"></script> -->
  <!-- <script src="/vendor/chartjs-2.7.2.bundle.min.js"></script> -->

  <!-- <script src="/vendor/codemirror-5.28.0/codemirror.min.js"></script> -->


  <script src="/vendor/jquery-3.3.1.slim.min.js"></script>
  <script src="/vendor/popperjs-1.14.0/popper.min.js"></script>
  <script src="/vendor/bootstrap-4.1.0-dist/js/bootstrap.min.js"></script>


  <!-- <script src="https://component.kitchen/polyfill/webcomponents-bundle.js"></script> -->
  <!-- <script type="module" src="https://component.kitchen/modules/AutosizeTextarea.js"></script> -->

  <script type="application/javascript" src="/assets/axfunction/axf.js" ></script>
  <script type="application/javascript" src="/assets/axfunction/axf-plugins.js" ></script>
  <!-- <script type="application/javascript" src="/assets/axf/themes/basic.js" ></script> -->
  <script type="application/javascript" src="/assets/client.js" ></script>

  <style>
  /*body { font-size: 2em; background-color: teal; color: white; font-family: arial; text-align: center; }*/
  </style>
</head>
<body>

<script>
// debugger
ax( app )

// let app = (a,x) => x.appkit.router(
//   {
//     '/': app.root,
//     // '/people/:id': app.people,
//     // [ '/people/:id', "person" ]: app.people,
//     '/people**': app.people
//   },
//   { mount: "/axf", root: '/', lost: 'warn' }
// )
//
//
// // app.open = function( path ) {
// //   document.querySelector('appkit-router').$to( location )
// // }
//
// app.btn = function( component, onclick, klass='primary', options={} ) {
//   return ax.x.appkit.button( component, onclick, {
//     buttonTag: {
//       disabled: options.disabled,
//       class: `btn btn-${ klass }`,
//     }
//   } )
// }
//
//
// app.root = ( c ) => [
//   "Home",
//   app.btn( "People", () => c.open( 'people' ) )
// ]
//
// app.people = (c) => (a,x) => [
//   a.h1( "People" ),
//   a.p( `locator: ${ JSON.stringify( c.locator ) }` ),
//   a.p( `params: ${ JSON.stringify( c.params ) }` ),
//   app.btn( "#1", () => c.open( '%/people/1' ) ),
//   app.btn( "#2", () => c.open( '%/people/2' ) ),
//   app.btn( "Home", () => c.open( '%' ) ),
//
//   x.appkit.router(
//     {
//       '/': app.people.index,
//       '/:id**': app.person,
//     },
//     { scope: "/people", root: '/', lost: 'show' }
//   ),
//   a.hr
//
// ]
//
// app.people.index = [
//   "Index people"
// ]
//
// app.person = (c) => (a,x) => [
//   a.p( `locator: ${ JSON.stringify( c.locator ) }` ),
//   a.p( `params: ${ JSON.stringify( c.params ) }` ),
//   app.btn( "#1", () => c.open( '%/../1' ) ),
//   x.appkit.router(
//     {
//       '/': app.person.show,
//       '/edit': app.person.edit,
//       // [ '/people/:id', "person" ]: app.people,
//       // '/people*': app.people
//     },
//     { scope: `/${c.params.id}`, root: '/', lost: 'show' }
//   ),
//   a.hr
// ]
//
// app.person.show = ( c ) => (a,x) => [
//   a.h1( `Person ${ c.params.id }`),
//   a.p( `locator: ${ JSON.stringify( c.locator ) }` ),
//   a.p( `params: ${ JSON.stringify( c.params ) }` ),
// ]


// () => x.appkit.controller( {
//     '': index people
//     '/#id': show person
//     '/#id/edit': edit person
//   },
//   { scope: '/people' }
// )


// ax( {
//   // $tag: "input",
//   $nodes: [
//     { $tag: "input", $init: function() { this.focus() } }
//   ],
//   $init: function() {
//     // this.addEventListener(
//     //   "blur",
//     //   function() { alert('blur') }
//     // );
//     // this.focus()
//     // ax.throw()
//   },
//   // $on: { "blur": function() { debugger } }
// } )

// ax( { $nodes: function() { return "wooo" } } )

// ax( app )
// ax( App2 )
// ax( [ "hi", "ho", ax.a.hr ] )
// ax( [
//   "hi",
//   ax.a(`
//   <div class="btn-group" role="group">
//     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
//     Dropdown
//     </button>
//     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
//       <a class="dropdown-item" href="#">Dropdown link</a>
//       <a class="dropdown-item" href="#">Dropdown link</a>
//     </div>
//   </div>
//   `)
//
// ] )

// ax( (a,x) => [ "Hello", "world", a.hr, a['ax-appkit-component'], a.div("fdgfdgfd"), a.button("OK") ], { id: "here", $tag: "div" } )

</script>

</body>
</html>
