<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/node_modules/bootstrap-css-only/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/node_modules/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/node_modules/codemirror/theme/neo.css">
  <link rel="stylesheet" href="/node_modules/simplemde/dist/simplemde.min.css">
  <link rel="stylesheet" href="/node_modules/jsoneditor/dist/jsoneditor.css">

  <script src="/node_modules/codemirror/lib/codemirror.js"></script>
  <script src="/node_modules/codemirror/addon/display/placeholder.js"></script>
  <script src="/node_modules/codemirror/mode/shell/shell.js"></script>
  <script src="/node_modules/codemirror/mode/javascript/javascript.js"></script>
  <script src="/node_modules/codemirror/mode/ruby/ruby.js"></script>
  <script src="/node_modules/codemirror/mode/python/python.js"></script>
  <script src="/node_modules/codemirror/mode/xml/xml.js"></script>
  <script src="/node_modules/codemirror/mode/yaml/yaml.js"></script>
  <script src="/node_modules/codemirror/keymap/vim.js"></script>
  <script src="/node_modules/codemirror/keymap/emacs.js"></script>
  <script src="/node_modules/codemirror/keymap/sublime.js"></script>
  <script src="/node_modules/html5sortable/dist/html5sortable.js"></script>
  <script src="/node_modules/simplemde/dist/simplemde.min.js"></script>
  <script src="/node_modules/jsoneditor/dist/jsoneditor.js"></script>
  <script src="/node_modules/marked/marked.min.js"></script>
  <script src="/node_modules/mustache/mustache.min.js"></script>

  <script type="application/javascript" src="/axfunction/axf.js" ></script>
  <script type="application/javascript" src="/axfunction/axf-plugins.js" ></script>
  <script type="application/javascript" src="/dev/dev.js" ></script>
  <!-- <script type="application/javascript" src="/axf/themes/basic.js" ></script> -->

</head>
<body>
<div id='page'>Loading...</div>
<script>ax( app, { target: '#page' } )</script>



</body>
</html>
